[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-hafenschau
Exec=/usr/bin/harbour-hafenschau %u
Name=Hafenschau
Categories=Network

#[X-Sailjail]
#Permissions=Documents;Internet;Sharing
#OrganizationName=org.nubecula
#ApplicationName=hafenschau
