[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-hafenschau
Exec=sailfish-qml harbour-hafenschau
Name=Hafenschau

[X-Sailjail]
OrganizationName=org.nubecula
ApplicationName=hafenschau
Permissions=Documents;Internet;WebView;Audio
