[Desktop Entry]
Type=Application
Icon=harbour-hafenschau
Exec=sailjail -p harbour-hafenschau.desktop /usr/bin/harbour-hafenschau
Name=Hafenschau
Categories=Network

[X-Sailjail]
OrganizationName=org.nubecula
ApplicationName=Hafenschau
Permissions=Documents;Internet;Sharing;WebView;Audio
ExecDBus=/usr/bin/harbour-hafenschau -prestart
